.forgot-password {
    color: #2A00B7;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1vh;
    cursor: pointer;
}
  
.forgot-password span {
    text-decoration: underline;
    font-weight: bold;
}