.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering children horizontally */
    justify-content: center; /* Centering children vertically */
    margin: 10vh auto; /* Margin top as viewport height percentage */
    background: #f9f9fb; /* Soft background color */
    padding: 5vh 2.5vw; /* Padding relative to the viewport */
    border-radius: 1em; /* Rounded corners */
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 80vw; /* Width relative to viewport width */
    max-width: 40em; /* Max width to maintain form proportions */
}
  
.inputs {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width of the parent container */
    gap: 1em; /* Space between input fields */
}
  
.input {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 0.5em; /* Rounded corners for input fields */
    padding: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for input fields */
}
  
input {
    border: none;
    margin-left: 1em;
    width: 100%; /* Full width of the parent .input container */
    font-size: 1em;
}
  
input:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px #2A00B7; /* Custom focus style */
}
  
.forgot-password {
    color: #2A00B7;
    font-size: 0.9em;
    text-align: center;
    margin-top: 1vh;
    cursor: pointer;
}
  
.forgot-password span {
    text-decoration: underline;
    font-weight: bold;
}
  
.submit-container {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Full width of the parent container */
    margin-top: 2vh;
}
  
.submit {
    background: #2A00B7;
    color: white;
    padding: 1em 2em;
    border-radius: 0.5em; /* Rounded corners for buttons */
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}
  
.submit:hover {
    background: #210094; /* Darker shade on hover */
}
  
/* Media query for smaller screens to ensure usability */
@media (max-width: 600px) {
   .container {
    width: 95vw; /* More width on smaller screens for readability */
    }
  
    .text {
      font-size: 2em; /* Smaller font size for smaller screens */
    }
}
  