.container {
    position: relative; /* This is necessary for absolute positioning inside the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10vh auto;
    background: #f9f9fb;
    padding: 5vh 2.5vw;
    border-radius: 1em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
    width: 80vw;
    max-width: 40em; /* The max-width of the container should be set to define its actual size */
}
 
.header-with-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Media query for smaller screens to ensure usability */
@media (max-width: 600px) {
   .container {
    width: 95vw; /* More width on smaller screens for readability */
    }
  
    .text {
      font-size: 2em; /* Smaller font size for smaller screens */
    }
}
  